<div class="nav">
  <div>
    <h3>Placement Cell</h3>
  </div>
  <div class="menu-nav">
    <a href="/dashboard">Dashboard</a>
    <a href="/addstudent">Add Student</a>
    <a href="/addinterview">Add Interview</a>
    <a href="/jobs">Jobs</a>
    <a href="/report">Report</a>
    <a href="/logout">Logout</a>
  </div>
</div>


<div class="list-container">
    <table>
        <tr>
            <th>Interview Date</th>
            <th>Company Name</th>
            <th>Student Name</th>
            <th>Student Email</th>
            <th>Result</th>
        </tr>
        <% Results.forEach(function (result){%>
        <tr>
            <td><%=result.interview.date.toLocaleDateString()%></td>
            <td><%=result.interview.companyName%></td>
            <td><%=result.student.name%></td>
            <td><%=result.student.email%></td>
            <td><%=result.result%></td>
        </tr>
        <%})%>
    </table>
</div>