<div class="nav">
  <div>
    <h3>Placement Cell</h3>
  </div>
  <div class="menu-nav">
    <a href="/dashboard">Dashboard</a>
    <a href="/addstudent">Add Student</a>
    <a href="/addinterview">Add Interview</a>
    <a href="/jobs">Jobs</a>
    <a href="/report">Report</a>
    <a href="/logout">Logout</a>
  </div>
</div>



<div class="add-Container">
  <div>
    <h4>Choose Email-Address of Student & Company name to Allocate</h4>
  </div>
  <div>
    <form class="form-add-edit-delete" action="/resultAllocation" method="POST">
      <div>
     <select name="companyName" id="companyName" required>
      <option value="">Select Company Name</option>
      <% Interviews.forEach(function (interview){%>
        <option value="<%=interview.companyName%>"><%=interview.companyName%></option>
        <%})%>
     </select>
      </div>       
      <div>
     <select name="studentEmail" id="studentEmail" required>
      <option value="">Select Student Name</option>
      <% Students.forEach(function (student){%>
        <option value="<%=student.email%>"><%=student.name%> / <%=student.email%></option>
        <%})%>
     </select>
      </div>  
      <div>
     <select name="result" id="result" required>
      <option value="">Select Result</option>
      <option value="PASS">PASS</option>
      <option value="FAIL">FAIL</option>
      <option value="ON_HOLD">HOLD</option>
      <option value="NOT_ATTEMPT">NOT ATTEMPT</option>
     </select>
      </div> 
      <div>
        <button type="submit" class="btn btn-dark">Allocate</button>
      </div>
    </form>
  </div>
</div>


